# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
*.egg-info/
dist/
build/

# 测试
/tests
/test-example

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# cluade
.claude
